@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: mojFont;
    src: url(font/FilipTrajkovski.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-image: url(slike/pozadina.jpg);
    color: white;
}

header {
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(74, 0, 0), rgba(74, 0, 0, 0.8), rgba(74, 0, 0, 0.5), rgba(74, 0, 0, 0.25), rgba(74, 0, 0, 0));
}

h1 {
    font-size: 35pt;
    padding: 1em 0em;
    text-align: center;
    font-family: mojFont;
}

h2 {
    text-align: center;
    font-size: 25pt
}

.ostali-h2 {
    text-align: center;
    font-size: 25pt;
    margin-top: 1.5em;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0em;
}

nav a {
    font-size: 17pt;
    text-decoration: none;
    padding: 1.5em;
    color: white;
    transition: all, 1s;
}

nav a:hover {
    color: red;
    transform: scale(1.2);
}

main {
    width: 65%;
    margin-top: 7em;
    background-color: rgba(18, 18, 18, 0.9);
    border-radius: 25px;
    box-shadow: 20px 10px 10px black;
}

main p {
    font-size: 20pt;
    text-align: center;
    line-height: 1.5em;
    padding: 1em;
}

.galerija {
    margin-top: 10em;
}

.galerija img {
    padding: 1em;
    transition: transform 1s;
}

.galerija img:hover {
    transform: scale(1.1);
}

iframe {
    margin: 10em 0em;
}

section {
    max-height: 100vh;
    width: 100%;
    padding: 10em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, black, black, rgb(85, 0, 0));
}

.vjezba2 {
    max-height: 100vh;
    width: 100%;
    padding: 10em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
}

section h2 {
    padding: 1em;
}

section div img {
    padding: 0.5em;
}

.izmedu {
    width: 100%;
    height: 10vh;
    background-image: url(slike/pozadina_izmedu.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.video-main {
    width: 65%;
    margin: 7em 0em;
    background-color: rgba(18, 18, 18, 0.9);
    border-radius: 25px;
    box-shadow: 20px 10px 10px black;
}